[Unit]
Description=Hermes Minimal Arch Installer
Documentation=https://wiki.archlinux.org/title/Archiso
Wants=iwd.service
After=systemd-user-sessions.service iwd.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/hermes-installer-launch
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=no
Restart=no

[Install]
WantedBy=multi-user.target
